.main {
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-right: 2vw;
    margin-left: 2vw;
}

.tabContent{
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-right: 2vw;
    margin-left: 2vw;
}

.testpanel {
    width: 40vw;
    height: 60vh;
    float: left;
    background: red;
}

.modelcontainer{
    width: 30vw;
    height: 60vh;
    float: center;
    /* margin-left: 10vw; */
    /* background: blue; */
}